html{
    height: 100%;
}



body{
//     background: rgb(38,36,64);
// background: linear-gradient(90deg, rgba(38,36,64,1) 0%, rgba(38,52,75,1) 0%, rgba(0,22,57,0.9948354341736695) 100%);
//     color:white !important;

background-color:white !important;

}





section{
    // height:40%;
    // background-color:rgb(0, 0, 0);
}

h1{
    font-size:3rem !important;
    color:black !important;
}

h2{
    color:black !important;
}
p{
    font-size:12px;
    padding:0 20px;

}

#titleContainer{ 
    color:black !important;

}