#contenedorTarjeta{
    background-color: transparent !important;
    border:none !important;
    color:white !important;
    justify-content: center !important;
    

}

#imagencarro{
    padding-bottom: 3px !important;
}